.backGroundOfEleament{
    background-color: black;
  
    padding-top: 2%;
    padding-bottom: 2%;

}


.theelement  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
li{
    list-style: none;
    font-size: 170%;
    color: white;
}
a{
    text-decoration: none;

}