.therightandleftside{
    margin-left: 10%;

    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
   
    background-color: rgb(242, 242, 242);
    
}
.theleftside{
    width: 600px;
    text-align: center;
}
.theleftside h1{
        font-size: 100px;
        margin-bottom: 0px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.theleftside h2{
            font-size: 70px;
            margin-top: 0px;
            color: red;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.therightside{
    width: 600px;
}
.therightside p{
    font-weight: 1000;
    font-size: 20px;
    border: 2.5px black solid;
    padding: 10px;
    border-radius: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: white;
}
@media (max-width:768px) {
    .therightandleftside{
    margin-left: 5%;
    width: 90%;
    
}
  .therightside p{
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color: rgb(242, 242, 242);

}  
.therightside{
    width: 450px;
}
.theleftside{
    width: 450px;
    text-align: center;
}
.theleftside h1{
        font-size: 80px;
        margin-bottom: 0px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}
