.thecart {
   border: 5px rgb(255, 255, 255) solid;
   width: 70%;
   margin-left: 15%;
   min-height: 35vh;
}
.thecart h1{
    text-align: center;
}
.thecart table thead tr td{
    background-color:  rgb(255, 186, 83);
    
}


.thecart table tbody tr td {
  text-align: center;
}
.thetotalcartcount{
  margin-top: 10px;
  width: 200px;
  height: 20px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}
.thetotalpricecart{
    /* width: 200px;
  height: 50px; */
  /* background-color: aqua; */
  /* display: flex;
  gap: 20px; */
  /* background-color: rgb(255, 255, 194); */
  border-radius: 40px;
  border: none;
  margin-top: 30px;
  
}
.the-cart-count-price{
  display: flex;
  justify-content: space-between;
}
.the-cart-count-price h1{
  font-size: 40px;
  margin-top: 50px;
  
}
.print{
  padding: 10px;
  width: 70px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color: rgb(222, 255, 76);
  margin-top: 20px;
  margin-bottom: 40px;
}
