
.thecover-of-card{
      margin-left: 10%;
   margin-right: 10%;
}

.sort{
  display: flex;
justify-self: end;
  border-radius: 75px;
  background-color: #f1efef;
  width: 100px;
 justify-content: center;
 padding: 8px;
border: 1px black solid;
}
.sort img
{
  align-self: center;
}
.flex{

  display: flex;
 flex-wrap: wrap;
 align-content:  center;
 gap: 30px;
 line-height: 1px;
 justify-content: center;
}
.the-header-of-page img{
    width: 100%;
}
.the-header-of-page{margin-bottom: 10%;
margin-left: 10%;
margin-right: 10%;

}