
.thecover-of-card{
      margin-left: 10%;
   margin-right: 10%;
}

.sort{
  display: flex;
justify-self: end;
gap: 10px;


 justify-content: center;

margin-bottom: 5%;
}
.sort img
{
  align-self: center;
}
.flex{

  display: flex;
 flex-wrap: wrap;
 align-content:  center;
 gap: 30px;
 line-height: 1px;
 justify-content: center;
}
.the-header-of-page img{
    width: 100%;
}
.the-header-of-page{margin-bottom: 10%;
margin-left: 10%;
margin-right: 10%;

}
.the_board{
  /* border: none; */
  border-radius: 50px;
  padding: 5px;
}
.the_board:hover{
  background-color: black;
  color: white;
}