.hero{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
 
    
}
.text{
    text-align:center;
     margin-bottom:5% ;
     /* color:"rgb(0, 0, 0)"; */
      font-size:40px;
}


.hero-prodect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
}
.size-prodect{
    height: 200px;
    width: 200px;
}
.size-prodect a{
    text-decoration: none;
    color: #000;
}
.theSizeOfPhoto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px rgb(255, 255, 255) solid;

}
.theSizeOfPhoto:hover{
   height: 160px;
    width: 160px;
   

}
.thetext{
    text-align: center;
    margin-right: 10%;
}
.thetext:hover{
    font-size: 27px;
    color: rgb(80, 77, 77);
}



@media (max-width: 768px) {
    .hero-prodect{
 
    gap: 30px;
    
}
.theSizeOfPhoto{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 6px rgb(255, 255, 255) solid;

}
  .size-prodect{
    height: 5%;
    width: 50px;
}
.hero{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
 
    
}
.text{
    font-size: 30px ;
    text-align: center;
}
}