body{
  padding: 0px;
}
.size_photo{
  width: 175px;
  height: 150px;
 
}
.cover-of-img{
   display: flex;
  justify-content: center;
  align-items: center;
}

.theCrde{
  height: 350px;
  width: 250px;
   display: grid ;
   grid-template: 20px 130px 100px 50px 50px;
   /* background-color: rgb(247, 247, 247); */
   /* border-radius: 10px; */
   border: 1px black solid;
 
}
.cover-of-text{
    display: flex;
  justify-content: center;
  align-items: center;
     background-color: rgb(247, 247, 247);

}
.text_algin{
word-wrap: normal;
line-height: 19px;
margin-left: 8%;


}
.click{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7px;
  width:100%;
  border-radius: 50px;
  background-color: black;
  color: white;
  
}
.click:hover {
      color: rgb(0, 0, 0); /* Change to any color you want */
      background-color: rgb(221, 221, 221);
    }

    .thebutton{
      display: flex;
      align-items: center;
      justify-content: center;
         background-color: rgb(247, 247, 247);
         border-radius: 10px;

    }
    .price{
      text-align: center;
      color: red;
         background-color: rgb(247, 247, 247);
         margin: 0px;
    }

    .link-of-item{
      text-decoration: none;
      color: black;
    }
    .the_offer{
      display: flex;
    /* width: 20%; */
    /* border-radius: 10px; */
    justify-content: space-between;
    }
    .the_offer h3{
      /* margin-bottom:4px ; */
      margin-top: 0px;
      font-weight: 3px;
          background-color: rgb(242, 255, 0);
padding: 10px;
    }
    .the_offer h2{
     
      margin-top: 0px;
      padding: 10px;
      background-color: rgb(249, 28, 28);
    }